# Environments
.env

# Virtual environments
venv/
env/
.venv/
.env/

# Python caches
__pycache__/
*.pyc

# MLflow tracking data
mlruns/
mlruns.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Generated output data
output/
*.csv
*.xlsx

# VS Code
.vscode/

# Node.js
node_modules/
dist/
package-lock.json

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
